<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel= "stylesheet" type= "text/css" herf= "https://fonts.google.com/specimen/Comfortaa">
    
</head>
<body>
    <header>
        <div id="titulo">
            <h1 data-text="PORTAFOLIO">PORTAFOLIO</h1>
        </div>
        <nav id="menu">
            <nav id="navbar">
                <ul type="none">
                    <a type="none" href="#section-welcome"><li class="nav-link">Presentacion</li></a>
                    <a type="none" href="#portafolio"><li class="nav-link">Proyectos</li></a>
                    <a type="none" href=""><li class="nav-link">link</li></a>
                </ul>
            </nav>
        </nav>
    </header>
    <main>
        <section id="section-welcome">
            <div id="welcome-div">
                <h1>Hola soy Agustin</h1>
                <h3>Trainee Full Stack Developer React js.</h3>
            </div>  
        </section>
        <section>
            <div id="portafolio">
                <h1 >Proyectos</h1>
            </div>
            <section id="muestra">
                <div class="proyectos">
                    <article class="articulo">
                        <img src="/images/Destino_del_prod_FCC.png" alt="Proyecto Nº03"/>
                        <h2>Destino del Producto</h2>
                    </article>
                </div>
                <div class="proyectos">
                    <article class="articulo">
                        <img src="/images/Formulario_FCC.png" alt="Proyecto Nº02">
                        <h2>Formulario</h2>
                    </article>
                </div>
                <div class="proyectos">
                    <article class="articulo">
                        <img src="/images/Detalle_tecnico_FCC.png" alt="Proyecto Nº04">
                        <h2>Detalle Tecnico</h2>
                    </article>
                </div>
            </section>
        </section>
    </main>
</body>
</html>