<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel= "stylesheet" type= "text/css" herf= "https://fonts.google.com/specimen/Comfortaa">
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</head>
<body>
    <header>
        <div id="titulo">
            <h1>Bienvenido a mi Portafolio</h1>
        </div>
        <nav>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <nav id="nav-bar">
                <div class="nav-link"><a href="#section-welcome">Presentacion</a></div>
                <div class="nav-link"><a href="#portafolio">Proyectos</a></div>
                <div class="nav-link"><a href="">link</a></div>
            </nav>
        </nav>
    </header>
    <main>
        <section id="section-welcome">
            <div id="welcome-div">
                <h1>Hola soy Agustin</h1>
                <h3>Trainee/Junior Full Stack Developer React js.</h3>
            </div>  
        </section>
        <div id="portafolio">
            <h1 >Proyectos</h1>
        </div>
        <section id="muestra">
            <div class="proyectos">
                <iframe height="300" style="width: 100%;" scrolling="no" title="Pagina_detalle_tecnico" src="https://codepen.io/agustinxalv1/embed/zYWJNxq?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    
                  </iframe>
            </div>
            <div class="proyectos">
                <iframe height="300" style="width: 100%;" scrolling="no" title="Pagina_destino_del_prod." src="https://codepen.io/agustinxalv1/embed/qBoMRdr?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href="https://codepen.io/agustinxalv1/pen/qBoMRdr">
                    Pagina_destino_del_prod.</a> by AgustinXAlv1 (<a href="https://codepen.io/agustinxalv1">@agustinxalv1</a>)
                    on <a href="https://codepen.io">CodePen</a>.
                  </iframe>
            </div>
            <div class="proyectos">
                <iframe height="300" style="width: 100%;" scrolling="no" title="Mi_MercadoLiebre" src="https://codepen.io/agustinxalv1/embed/ExEeZPg?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href="https://codepen.io/agustinxalv1/pen/ExEeZPg">
                    Mi_MercadoLiebre</a> by AgustinXAlv1 (<a href="https://codepen.io/agustinxalv1">@agustinxalv1</a>)
                    on <a href="https://codepen.io">CodePen</a>.
                  </iframe>
            </div>
            <div class="proyectos">
                <p class="codepen" data-height="300" data-default-tab="result" data-slug-hash="poaveVw" data-user="agustinxalv1" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/agustinxalv1/pen/poaveVw">
                    Proyecto Nroº02- V2.0</a> by AgustinXAlv1 (<a href="https://codepen.io/agustinxalv1">@agustinxalv1</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
        </section>
    </main>
</body>
</html>