<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel= "stylesheet" type= "text/css" herf= "https://fonts.google.com/specimen/Comfortaa">
    <script src="https://kit.fontawesome.com/7a0a501500.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="navbar">
        <nav id="menu">
            <ul type="none">
                <a type="none" href="#welcome-section"><li class="nav-link">Presentacion</li></a>
                <a type="none" href="#projects"><li class="nav-link">Proyectos</li></a>
                <a type="none" href="#section-redes"><li class="nav-link">Redes</li></a>
            </ul>
        </nav>
    </nav>
    <header>
        <div id="titulo">
            <h1 data-text="PORTAFOLIO">PORTAFOLIO</h1>
        </div>
    </header>
    <main>
        <section id="welcome-section">
            <div id="me">
                <h1>Hola soy Agustin</h1>
                <h3 >Trainee Full Stack Developer React js.</h3>
            </div>  
        </section>
        <section id="projects">
            <div id="select-projects">
                <h1 class="project-tile">Algunos de mis Proyectos</h1>
            </div>
            <section id="muestra">
                <div class="proyectos">
                    <a type="none" href="https://codepen.io/agustinxalv1/pen/qBoMRdr" target="_blank">
                        <article class="articulo">
                            <img src="/images/Destino_del_prod_FCC.png" alt="Proyecto Nº03"/>
                            <h2>Destino del Producto</h2>
                        </article>
                    </a>
                </div>
                <div class="proyectos">
                    <a type="none" href="https://codepen.io/agustinxalv1/pen/poaveVw" target="_blank">
                        <article class="articulo">
                            <img src="/images/Formulario_FCC.png" alt="Proyecto Nº02">
                            <h2>Formulario</h2>
                        </article>
                    </a>
                </div>
                <div class="proyectos">
                    <a type="none" href="http://codepen.io/agustinxalv1/pen/zYWJNxq" target="_blank" >
                        <article class="articulo">
                            <img src="/images/Detalle_tecnico_FCC.png" alt="Proyecto Nº04">
                            <h2>Detalle Tecnico</h2>
                        </article>
                    </a>
                </div>
            </section>
        </section>
        <section id="section-redes">
            <section  class="box">
                <div class="project-tile">
                    <h1>Redes</h1>
                </div>
                <div id="redes">
                    <a href="" id="profile-link" class="red text" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="" class="red text" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="" class="red text" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="red text" target="_blank"><i class="fa-solid fa-at"></i></a>
                </div>
            </section>
            <section>
                <div>
                    
                </div>
                <form action="">
                    
                </form>
            </section>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>