<header>
    <nav id="navbar">
        <nav id="menu">
            <ul type="none">
                <a type="none" href="#welcome-section"><li class="nav-link">Presentacion</li></a>
                <a type="none" href="#projects"><li class="nav-link">Proyectos</li></a>
                <a type="none" href="#section-redes"><li class="nav-link">Redes</li></a>
            </ul>
        </nav>
    </nav>
    <div>
        <div id="titulo">
            <h1 data-text="PORTAFOLIO">PORTAFOLIO</h1>
        </div>
    </div>
</header>